:root {
  --background-black: #111;
  --background-dark: #222;
  --background-medium: #2d2b2b;
  --background-333: #333;
  --background: var(--background-dark);
  --very-light-grey: var(--background-dark);

  /* Text */
  --text-color: #c0c0c0;

  /* Buttons */
  --btn-secondary-bg: var(--background-dark);
  --btn-secondary-color: var(--btn-primary-color);

  /* Help area */
  --help-area-bg-color: var(--background-333);
  --configure-job-help-area-bg-color: var(--background-dark);

  /* Header */
  --header-link-color: var(--primary);
  --header-link-color-active: var(--primary-active);
  --search-bg: #4d545d;
  --search-input-color: var(--primary);

  /* Breadcrumbs */
  --breadcrumbs-bg: var(--background-black);
  --breadcrumbs-bg-color--hover: var(--background-dark);
  --breadcrumbs-text-color: var(--text-color);
  --breadcrumbs-border: var(--background-333);

  /* Links */
  --link-color: var(--primary);
  --link-visited-color: var(--primary);
  --link-dark-color: var(--primary);

  /* Table */
  --bigtable-header-color: var(--background-black);
  --even-row-color: #020202;
  --project-status-border-bottom-color: var(--background-333);
  --table-parameters-bg-color--hover: var(--background-333);
  --table-stripped-bg-color--hover: var(--background-333);

  /* Pane widget */
  --pane-border-color: var(--background-333);
  --pane-header-border-color: var(--background-333);
  --pane-header-color: var(--background-black);
  --pane-text-color: var(--primary);
  --pane-link-color: var(--primary);
  --pane-link-color--visited: var(--primary);

  /* Tab bar widget */
  --tab-bar-border-color: var(--background-333);
  --tab-bar-text-color: #999;
  --tab-bar-bg--checked: var(--background-black);
  --tab-bar-border-color--checked: var(--background-333);
  --tab-bar-text-color--checked: var(--primary);
  --tab-bar-bg-color--hover: var(--background-333);
  --tab-bar-add-bg-color--hover: var(--background-333);
  --tab-bar-add-text-color: var(--primary);
  --tab-bar-add-border-color: var(--background-333);

  /* Side panel */
  --panel-border-color: var(--background-333);
  --panel-border-color--hover: var(--background-black);
  --task-link-bg-color--hover: var(--background-black);

  /* Form */
  --input-color: #3a3a3a;
  --input-border: var(--background-dark);
  --header-search-border: var(--background-333);
  --input-hidden-password-bg-color: var(--input-color);

  /* Pop out menus */
  --menu-bg-color: var(--background-333);
  --menu-text-color: var(--primary);
  --menu-selected-color: var(--background-dark);
  --menu-box-shadow: none;

  /* Manage component */
  --manage-option-bg-color--hover: var(--background-333);

  /* Add form widget */
  --light-bg-color: var(--background-medium);
  --bright-bg-color: var(--background-333);
  --brightest-bg-color: var(--input-color);
  --add-item-btn-decorator-border-color: var(--background-333);
  --add-item-categories-bg-color--hover: var(--background-333);
  --add-item-btn-decorator-bg-color: var(--background-333);
  --configure-job-bottom-sticker-bg-color: var(--background-333);
  --configure-job-bottom-sticker-border-color: var(--background-333);
}
