@use "sass:color";

@mixin dark-mode {
  --background: oklch(from var(--white) 0.165 0.013 h);
  --accent-color: oklch(65.13% 0.1987 265);

  /* Text */
  --text-color: var(--white);
  --text-color-secondary: oklch(from var(--white) 0.65 0.038 h);

  /* Tooltips */
  --tooltip-box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.025),
      inset var(--jenkins-border--subtle-shadow),
      0 0 8px 2px rgba(0, 0, 20, 0.05),
      0 0 1px 1px rgba(0, 0, 20, 0.025),
      0 10px 20px rgba(0, 0, 20, 0.2);

  /* Dropdowns */
  --dropdown-box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.025),
    inset var(--jenkins-border--subtle-shadow),
    0 0 8px 2px rgba(0, 0, 20, 0.05),
    0 0 1px 1px rgba(0, 0, 20, 0.025),
    0 10px 20px rgba(0, 0, 20, 0.3);

  /* Table */
  --table-background: var(--card-background);
  --table-border-color: var(--card-border-color);

  /* Tab bar */
  --tabs-item-background--selected: oklch(
      from var(--text-color-secondary) l c h / 0.175
  );

  /* Side panel */
  --panel-border-color: color-mix(in oklch, var(--text-color-secondary) 15%, var(--background));

  /* Form */
  --input-color: oklch(from var(--text-color-secondary) l c h / 0.03);
  --input-border: oklch(from var(--text-color-secondary) l c h / 0.3);
  --input-border-hover: oklch(from var(--text-color-secondary) l c h / 0.4);
  --focus-input-glow: oklch(from var(--focus-input-border) l c h / 0.2);

  /* Plugin manager */
  --plugin-manager-bg-color-already-upgraded: var(--dark-theme-bg-medium);

  // Default button
  --button-background: oklch(from var(--text-color-secondary) l c h / 0.075);
  --button-background--hover: oklch(
      from var(--text-color-secondary) l c h / 0.125
  );
  --button-background--active: oklch(
      from var(--text-color-secondary) l c h / 0.175
  );
  --button-box-shadow--focus: oklch(
      from var(--text-color-secondary) l c h / 0.1
  );

  // Variables for sidebar items, card items
  --item-background--hover: oklch(from var(--text-color-secondary) l c h / 0.1);
  --item-background--active: oklch(
      from var(--text-color-secondary) l c h / 0.15
  );
  --item-box-shadow--focus: oklch(from var(--text-color-secondary) l c h / 0.1);

  /* Card */
  --card-background: color-mix(in oklch, var(--text-color-secondary) 7.5%, var(--background));
  --card-border-color: color-mix(in oklch, var(--text-color-secondary) 10%, var(--background));

  // Render native browser elements in dark mode
  color-scheme: dark;
}

@mixin codemirror-theme() {
  #jenkins {
    .cm-s-default.CodeMirror {
      background: #2B2B2B;
      color: #A9B7C6;
    }

    .cm-s-default span.cm-meta {
      color: #BBB529;
    }

    .cm-s-default span.cm-number {
      color: #6897BB;
    }

    .cm-s-default span.cm-keyword {
      color: #CC7832;
      line-height: 1em;
      font-weight: bold;
    }

    .cm-s-default span.cm-def {
      color: #A9B7C6;
      font-style: italic;
    }

    .cm-s-default span.cm-variable {
      color: #A9B7C6;
    }

    .cm-s-default span.cm-variable-2 {
      color: #A9B7C6;
    }

    .cm-s-default span.cm-variable-3 {
      color: #9876AA;
    }

    .cm-s-default span.cm-type {
      color: #AABBCC;
      font-weight: bold;
    }

    .cm-s-default span.cm-property {
      color: #FFC66D;
    }

    .cm-s-default span.cm-operator {
      color: #A9B7C6;
    }

    .cm-s-default span.cm-string {
      color: #6A8759;
    }

    .cm-s-default span.cm-string-2 {
      color: #6A8759;
    }

    .cm-s-default span.cm-comment {
      color: #61A151;
      font-style: italic;
    }

    .cm-s-default span.cm-link {
      color: #CC7832;
    }

    .cm-s-default span.cm-atom {
      color: #CC7832;
    }

    .cm-s-default span.cm-error {
      color: #BC3F3C;
    }

    .cm-s-default span.cm-tag {
      color: #629755;
      font-weight: bold;
      font-style: italic;
      text-decoration: underline;
    }

    .cm-s-default span.cm-attribute {
      color: #6897bb;
    }

    .cm-s-default span.cm-qualifier {
      color: #6A8759;
    }

    .cm-s-default span.cm-bracket {
      color: #A9B7C6;
    }

    .cm-s-default span.cm-builtin {
      color: #FF9E59;
    }

    .cm-s-default span.cm-special {
      color: #FF9E59;
    }

    .cm-s-default span.cm-matchhighlight {
      color: #FFFFFF;
      background-color: rgba(50, 89, 48, .7);
      font-weight: normal;
    }

    .cm-s-default span.cm-searching {
      color: #FFFFFF;
      background-color: rgba(61, 115, 59, .7);
      font-weight: normal;
    }

    .cm-s-default .CodeMirror-cursor {
      border-left: 1px solid #A9B7C6;
    }

    .cm-s-default .CodeMirror-activeline-background {
      background: #323232;
    }

    .cm-s-default .CodeMirror-gutter {
      background: #313335;
      border-right: 1px solid #313335;
    }

    .cm-s-default .CodeMirror-guttermarker {
      color: #FFEE80;
    }

    .cm-s-default .CodeMirror-guttermarker-subtle {
      color: #D0D0D0;
    }

    .cm-s-default .CodeMirrir-linenumber {
      color: #606366;
    }

    .cm-s-default .CodeMirror-matchingbracket {
      background-color: #3B514D;
      color: #FFEF28 !important;
      font-weight: bold;
    }

    .cm-s-default div.CodeMirror-selected {
      background: #214283;
    }

    .CodeMirror-hints.default {
      font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
      color: #9C9E9E;
      background-color: #3B3E3F !important;
    }

    .CodeMirror-hints.default .CodeMirror-hint-active {
      background-color: #494D4E !important;
      color: #9C9E9E !important;
    }
  }

  $colors: (
    "blue": oklch(64.23% 0.3 252.93),
    "brown": oklch(63.14% 0.1 65.44),
    "cyan": oklch(80.37% 0.1296 232.62),
    "green": oklch(80.25% 0.2197 147.09),
    "indigo": oklch(57.48% 0.26 281.95),
    "orange": oklch(79.58% 0.1862 62.09),
    "pink": oklch(70.1% 0.25 13.88),
    "purple": oklch(62.75% 0.2634 311.52),
    "red": oklch(66.82% 0.2393 29.84),
    "yellow": oklch(90.35% 0.1872 95.31),
    "teal": oklch(73.05% 0.1217 216.13),
    "white": oklch(from var(--accent-color) 99% 0.015 h),
  );

  @each $name, $value in $colors {
    --#{$name}: #{$value};

    @if $name != "black" and $name != "white" {
      --light-#{$name}: #{color.scale($value, $lightness: 50%)};
      --dark-#{$name}: #{color.scale($value, $lightness: -50%)};
    }
  }
}

[data-theme=dark], .app-theme-picker__picker[data-theme=dark] {
  @include dark-mode;
}

[data-theme=dark] {
  @include codemirror-theme;
}

@media (prefers-color-scheme: dark) {
  [data-theme=dark-system], .app-theme-picker__picker[data-theme=dark-system] {
    @include dark-mode;
  }
  [data-theme=dark-system] {
    @include codemirror-theme;
  }
}
