@use "sass:color";

@mixin dark-mode {
  --background: oklch(from var(--white) 0.17 0.013 h);
  --accent-color: oklch(65.13% 0.1987 265);

  /* Text */
  --text-color: var(--white);
  --text-color-secondary: oklch(from var(--white) 0.7 0.038 h);

  /* Tooltips */
  --tooltip-box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.025),
      inset var(--jenkins-border--subtle-shadow),
      0 0 8px 2px rgba(0, 0, 20, 0.05),
      0 0 1px 1px rgba(0, 0, 20, 0.025),
      0 10px 20px rgba(0, 0, 20, 0.2);

  /* Dropdowns */
  --dropdown-box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.025),
    inset var(--jenkins-border--subtle-shadow),
    0 0 8px 2px rgba(0, 0, 20, 0.05),
    0 0 1px 1px rgba(0, 0, 20, 0.025),
    0 10px 20px rgba(0, 0, 20, 0.3);

  /* Table */
  --table-background: var(--card-background);
  --table-border-color: var(--card-border-color);

  /* Tab bar */
  --tabs-item-background--selected: oklch(
      from var(--text-color-secondary) l c h / 0.175
  );

  /* Side panel */
  --panel-border-color: color-mix(in oklch, var(--text-color-secondary) 15%, var(--background));

  /* Form */
  --input-color: oklch(from var(--text-color-secondary) l c h / 0.04);
  --input-border: oklch(from var(--text-color-secondary) l c h / 0.25);
  --input-border-hover: oklch(from var(--text-color-secondary) l c h / 0.35);
  --focus-input-glow: oklch(from var(--focus-input-border) l c h / 0.2);

  /* Plugin manager */
  --plugin-manager-bg-color-already-upgraded: var(--dark-theme-bg-medium);

  // Default button
  --button-background: oklch(from var(--text-color-secondary) l c h / 0.075);
  --button-background--hover: oklch(
      from var(--text-color-secondary) l c h / 0.125
  );
  --button-background--active: oklch(
      from var(--text-color-secondary) l c h / 0.175
  );
  --button-box-shadow--focus: oklch(
      from var(--text-color-secondary) l c h / 0.1
  );

  // Variables for sidebar items, card items
  --item-background--hover: oklch(from var(--text-color-secondary) l c h / 0.1);
  --item-background--active: oklch(
      from var(--text-color-secondary) l c h / 0.15
  );
  --item-box-shadow--focus: oklch(from var(--text-color-secondary) l c h / 0.1);

  /* Card */
  --card-background: color-mix(in oklch, var(--text-color-secondary) 7.5%, var(--background));
  --card-border-color: var(--prefers-contrast, color-mix(in oklch, var(--text-color-secondary) 10%, var(--background)));

  @media (prefers-contrast: more) {
    --prefers-contrast: var(--text-color);
  }

  // Render native browser elements in dark mode
  color-scheme: dark;

  $colors: (
    "blue": oklch(64.23% 0.3 252.93),
    "brown": oklch(63.14% 0.1 65.44),
    "cyan": oklch(80.37% 0.1296 232.62),
    "green": oklch(80.25% 0.2197 147.09),
    "indigo": oklch(57.48% 0.26 281.95),
    "orange": oklch(79.58% 0.1862 62.09),
    "pink": oklch(70.1% 0.25 13.88),
    "purple": oklch(62.75% 0.2634 311.52),
    "red": oklch(66.82% 0.2393 29.84),
    "yellow": oklch(90.35% 0.1872 95.31),
    "teal": oklch(73.05% 0.1217 216.13),
    "white": oklch(from var(--accent-color) 98% 0.015 h),
  );

  @each $name, $value in $colors {
    --#{$name}: #{$value};

    @if $name != "black" and $name != "white" {
      --light-#{$name}: #{color.scale($value, $lightness: 50%)};
      --dark-#{$name}: #{color.scale($value, $lightness: -50%)};
    }
  }
}

[data-theme=dark], .app-theme-picker__picker[data-theme=dark] {
  @include dark-mode;
}

@media (prefers-color-scheme: dark) {
  [data-theme=dark-system], .app-theme-picker__picker[data-theme=dark-system] {
    @include dark-mode;
  }
}
